<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="" connectionString=""/>
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="WCF_Services.PersonService">
        <endpoint address="net.tcp://localhost:11223/PersonService"  binding="netTcpBinding" contract="WCF_Services.IPersonService"></endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding transactionFlow="true"></binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>