<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="TransDB" connectionString="server=SHYAM-LT\SQLEXPRESS;user=sa;password=pcadmin;database=test_tutorial"/>
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="Services.Services.PersonService">
        <endpoint bindingConfiguration="trans_binding" address="net.Tcp://localhost:11125/PersonService" binding="netTcpBinding" contract="Contracts.Contracts.IPersonService"></endpoint>
      </service>
    </services>
    <!--<behaviors>
      <serviceBehaviors>
        <behavior name="service_behavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>-->

    <bindings>
      <netTcpBinding>
        <binding name="trans_binding" transactionFlow="true"></binding>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>
</configuration>